<!-- CONTACT SECTION START -->
<section id="contact" class="section">
    <div class="container-fluid section-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-title uppercase">Contact Us</h2>
                    <p class="section-subtitle">Want To Schedule an Appointment?</p>
                    <span class="divider center"></span>
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->

            <div class="row">
                <div class="col-md-12">

                    <!-- CONTACT DETAILS START -->
                    <div class="contact-details text-center">
                        <div class="speech-bubble">
                            <i class="icon-Speach-Bubble11"></i>

                            <h4 class="uppercase text-light-grey">
                                Say<br>Hello
                            </h4>
                        </div>
                        <!-- //.speech-bubble -->

                        <h2 class="uppercase"><strong>{{site_data.title}}</strong></h2>

                        <h3>{{site_data.owner}}</h3>

                        <span class="divider center"></span>

                        <ul class="list-inline">
                            <li>
                                <h3 style="text-decoration: underline;">Quick Contact</h3>
                                <h4> Email : <a title="Send me an Email" href="mailto:{{site_data.contact_email}}">{{site_data.contact_email}}</a></h4>
                                <h4>Call : <a title="Call Me" href="tel://{{site_data.contact_number}}">{{site_data.contact_number}}</a></h4>
                            </li>
                            <li></li>
                            <li>
                                <h3 style="text-decoration: underline;">Address</h3>
                                <address>
                                    <h4>Provided Upon</h4>
                                    <h4>Appointment</h4>
                                </address>
                            </li>
                        </ul>
                        <span class="divider center"></span>

                    </div>
                    <!-- //CONTACT DETAILS END -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>
<!-- //CONTACT SECTION END -->