<!-- HERO START -->
<section id="home" class="hero">
    <div class="pattern-overlay"></div>
    <div class="hero-body">
        <div class="hero-text text-center animate-in" data-anim-type="fade-in-up">
            <h1 id="WelcomeHeader">Welcome to {{site_data.title}}</h1>
            <h1 id="OwnerHeader" class="small">By {{site_data.owner}}</h1>
            <div id="text-slider" class="morphext" data-ride="carousel">
                <div class="carousel-inner">
                    <div ng-if="site_data.short_descriptions" class="animated flipInX item active" ng-repeat="des in site_data.short_descriptions">
                        <p>{{des}}</p>
                    </div>
                </div>
                <!-- //.carousel-inner -->
            </div>
            <!-- //.carousel -->
            <p>{{site_data.description}}</p>

            <!-- //.carousel -->
            <div class="page-scroll">
                <p>Follow me on Social Media!</p>

                <div class="social">
                    <a ng-show="site_data.social.youtube" href="http://www.youtube.com/{{site_data.social.youtube}}/" class="btn btn-sm btn-custom" target="_blank"><i
                            class="fa fa-youtube-play"></i></a>
                    <a ng-show="site_data.social.instagram" href="http://www.instagram.com/{{site_data.social.instagram}}/" class="btn btn-sm btn-custom" target="_blank"><i
                            class="fa fa-instagram "></i></a>
                    <a ng-show="site_data.social.pinterest" href="http://www.pinterest.com/{{site_data.social.pinterest}}/" class="btn btn-sm btn-custom" target="_blank"><i
                            class="fa fa-pinterest"></i></a>
                    <a ng-show="site_data.social.twitter" href="http://www.twitter.com/{{site_data.social.twitter}}/" class="btn btn-sm btn-custom" target="_blank"><i
                            class="fa fa-twitter "></i></a>
                </div>
                <br>
                <a href="/about" class=" btn btn-sm btn-custom">Who is {{site_data.owner}} Really?</a>
                <br><br>
                <br><br>
            </div>
            <!-- //.page-scroll -->
        </div>
        <!-- //.hero-text -->
    </div>
    <!-- //.hero-body -->
    <br><br><br><br>
</section>
<!-- //HERO END -->