<section id="services" class="service section">
    <div class="container-fluid section-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center animate-in" data-anim-type="fade-in-up">
                    <h2 id="title" class="section-title uppercase">Services</h2>

                    <p class="section-subtitle">{{tagline}}</p>
                    <span class="divider center"></span>
                    <button id="createServiceButton" type="button" class="btn btn-custom" ng-click="openNewServiceModal()">Add Service</button>
                </div>
                <!-- //.col-md-8 -->
            </div>
            <!-- //.row -->

            <div ng-show="Cart.length>0">
                <pre class="alert alert-info" role="alert" ng-show="Cart.length===1">There is {{Cart.length}} item in the cart.</pre>
                <pre class="alert alert-info" role="alert" ng-hide="Cart.length===1">There are {{Cart.length}} items in the cart.</pre>
            </div>
            <!-- SERVICES LIST START -->
            <div class="row services-list animate-in" data-anim-type="fade-in-up">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel-group service" id="service" ng-repeat="service in services">
                        <div class="service-item">
                            <div class="service-category">
                                <span class="service-category">{{service.category}}</span>
                            </div>
                            <!-- //.service-category -->

                            <div class="service-btn">
                                <a href="#{{service._id}}" data-toggle="collapse" data-parent="#service"></a>
                            </div>
                            <!-- //.service-btn -->

                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <div class="list-group">
                                            <ul class="list-inline">
                                                <button type="button" class="btn btn-custom"
                                                        ng-click="AddToCart(service._id)"
                                                        title="Add To Cart">Add To Cart
                                                </button>
                                                <li><a id="serviceName" ng-click="openDisplayServiceModal(service._id)" ng-bind="service.name"></a>:</li>
                                                <li><strong>${{service.price}}</strong></li>
                                                <button id="editServiceButton" type="button" class="btn btn-custom" ng-click="openEditServiceModal(service._id)">Edit</button>
                                                <button id="deleteServiceButton" type="button" class="btn btn-custom" ng-click="openDeleteServiceModal(service._id)">Delete</button>

                                            </ul>
                                        </div>
                                        <hr/>
                                        <p ng-show="service.duration">Duration: {{service.duration}} Hours</p>

                                        <p ng-show="service.description">Description: </p>
                                    </div>
                                    <!-- //.panel-title -->
                                </div>
                                <!-- //.panel-heading -->
                                <div id="{{service._id}}" class="panel-collapse collapse in"
                                     ng-show="service.description">
                                    <div class="panel-body text-light-grey">
                                        <p>
                                            {{service.description}}
                                        </p>
                                    </div>
                                    <!-- //.panel-body -->
                                </div>
                                <!-- //.panel-collapse -->
                            </div>
                            <!-- //.panel -->
                        </div>
                        <!-- //.service-item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal">
    <script type="text/ng-template" id="createServiceModal.html">
        <div class="modal-header heading modal-color">
            <h3 class="modal-title modal-text">Create a New Service</h3>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 0">
            <div class="row form-group">
                <div class="col col-md-offset-1 col-md-4">
                    <label for="newServiceName">Service Name: </label>
                    <input id="newServiceName" type="text" ng-model="newService.name"/><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="newServiceCategory">Service Category: </label>
                    <input id="newServiceCategory" type="text" ng-model="newService.category"/><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="newServicePrice">Service Price: </label>
                    <input id="newServicePrice" type="number" ng-model="newService.price"/><br/>
                    </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="newServiceDescription">Service Description: </label>
                    <input id="newServiceDescription" type="text" ng-model="newService.description"/><br/>
                    </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="newServiceDuration">Service Duration: </label>
                    <input id="newServiceDuration" type="number" ng-model="newService.duration"/><br/>
                </div>
            </div>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 1">
            <div class="progress progress-striped active" data-keyboard="false">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 2">
            <label>Results:</label><br>
            <p ng-bind="results"></p>
        </div>
        <div class="modal-footer">
            <button id="CloseButton" class="btn btn-danger" type="button" ng-show="stage == 2" ng-click="cancel()">Close</button>
            <button id="CreateAnotherServiceButton" class="btn btn-primary" type="button" ng-show="stage == 2" ng-click="stage = 0">Create New Service</button>

            <button id="CancelButton" class="btn btn-danger" type="button" ng-show="stage == 0" ng-click="cancel()">Cancel</button>
            <button id="SubmitButton" class="btn btn-primary" type="button" ng-show="stage == 0" ng-click="submitService()">Create Service</button>
        </div>
    </script>
</div>

<div class="modal">
    <script type="text/ng-template" id="displayServiceModal.html">
        <div class="modal-header heading modal-color">
            <h3 class="modal-title modal-text" id="displayModalHeader">Display Service</h3>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 1">
            <div class="progress progress-striped active" data-keyboard="false">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 2">
            <div class="row form-group">
                <div class="col col-md-offset-1 col-md-4">
                    <label for="currentServiceName">Service Name: </label>
                    <p id="currentServiceName" ng-bind="currentService.name"></p><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="currentServiceCategory">Service Category: </label>
                    <p id="currentServiceCategory" ng-bind="currentService.category"></p><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="currentServicePrice">Service Price: </label>
                    <p id="currentServicePrice" ng-bind="currentService.price"></p><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="currentServiceDescription">Service Description: </label>
                    <p id="currentServiceDescription" ng-bind="currentService.description"></p><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="currentServiceDuration">Service Duration: </label>
                    <p id="currentServiceDuration" ng-bind="currentService.duration"></p><br/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="displayCancelButton" class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

<div class="modal">
    <script type="text/ng-template" id="editServiceModal.html">
        <div class="modal-header heading modal-color">
            <h3 class="modal-title modal-text" id="editModalHeader">Edit Service</h3>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 0">
            <div class="row form-group">
                <div class="col col-md-offset-1 col-md-4">
                    <label for="editServiceName">Service Name: </label>
                    <input id="editServiceName" type="text" ng-model="editService.name"/><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="editServiceCategory">Service Category: </label>
                    <input id="editServiceCategory" type="text" ng-model="editService.category"/><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="editServicePrice">Service Price: </label>
                    <input id="editServicePrice" type="number" ng-model="editService.price"/><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="editServiceDescription">Service Description: </label>
                    <input id="editServiceDescription" type="text" ng-model="editService.description"/><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="editServiceDuration">Service Duration: </label>
                    <input id="editServiceDuration" type="number" ng-model="editService.duration"/><br/>
                </div>
            </div>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 1">
            <div class="progress progress-striped active" data-keyboard="false">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 2">
            <label>Results:</label><br>
            <p ng-bind="results"></p>
        </div>
        <div class="modal-footer">
            <button id="editCloseButton" class="btn btn-danger" type="button" ng-show="stage == 2" ng-click="cancel()">Close</button>

            <button id="editCancelButton" class="btn btn-danger" type="button" ng-show="stage == 0" ng-click="cancel()">Cancel</button>
            <button id="editSubmitButton" class="btn btn-primary" type="button" ng-show="stage == 0" ng-click="submitEditService()">Edit Service</button>
        </div>
    </script>
</div>

<div class="modal">
    <script type="text/ng-template" id="deleteServiceModal.html">
        <div class="modal-header heading modal-color">
            <h3 class="modal-title modal-text" id="deleteModalHeader">Delete Service</h3>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 0">
            <div class="row form-group">
                <div class="col col-md-offset-1 col-md-4">
                    <label for="deleteServiceName">Service Name: </label>
                    <p id="deleteServiceName" ng-bind="deleteService.name"></p><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="deleteServiceCategory">Service Category: </label>
                    <p id="deleteServiceCategory" ng-bind="deleteService.category"></p><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="deleteServicePrice">Service Price: </label>
                    <p id="deleteServicePrice" ng-bind="deleteService.price"></p><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="deleteServiceDescription">Service Description: </label>
                    <p id="deleteServiceDescription" ng-bind="deleteService.description"></p><br/>
                </div>
                <div class="col col-md-offset-1 col-md-4">
                    <label for="deleteServiceDuration">Service Duration: </label>
                    <p id="deleteServiceDuration" ng-bind="deleteService.duration"></p><br/>
                </div>
            </div>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 1">
            <div class="progress progress-striped active" data-keyboard="false">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 2">
            <label>Results:</label><br>
            <p ng-bind="results"></p>
        </div>
        <div class="modal-footer">
            <button id="deleteCloseButton" class="btn btn-danger" type="button" ng-show="stage == 2" ng-click="cancel()">Close</button>

            <button id="deleteCancelButton" class="btn btn-danger" type="button" ng-show="stage == 0" ng-click="cancel()">Cancel</button>
            <button id="deleteSubmitButton" class="btn btn-warning" type="button" ng-show="stage == 0" ng-click="deleteSubmitService()">Delete Service</button>
        </div>
    </script>
</div>
