<section id="services" class="service section">
    <div class="container-fluid section-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center animate-in" data-anim-type="fade-in-up">
                    <h2 id="title" class="section-title uppercase">Services</h2>

                    <p class="section-subtitle">{{tagline}}</p>
                    <span class="divider center"></span>

                    <a class="btn btn-primary" ng-click="go('/appointments')">Go to Cart <i class="fa fa-shopping-cart"></i></a>

                    <div ng-show="$storage.Cart.length>0">
                        <pre class="alert alert-info" role="alert" ng-show="$storage.Cart.length===1">There is {{$storage.Cart.length}} item in the cart.</pre>
                        <pre class="alert alert-info" role="alert" ng-hide="$storage.Cart.length===1">There are {{$storage.Cart.length}} items in the cart.</pre>
                    </div>

                    <div ng-show="categories.length <= 0">
                        <pre class="alert alert-warning" role="alert"> Please wait while services load. Thank You!</pre>
                    </div>

                </div>
                <!-- //.col-md-8 -->
            </div>
            <!-- //.row -->

            <nav id="mfb-menu" mfb-menu position="br" effect="slidein-spring" label="Cart Menu"
                 active-icon="fa fa-arrow-down" resting-icon="fa fa-bars">
                <button mfb-button icon="fa fa-shopping-cart" id="goToCart" label="Go To Cart"
                        ng-click="go('/appointments')"></button>
                <button mfb-button icon="fa fa-trash-o" label="Empty Cart" id="emptyCartButton"
                        ng-click="EmptyCart()"></button>
                <button mfb-button icon="fa fa-edit" label="Add a new Service" id="createServiceButton"
                        ng-show="admin"
                        ng-click="openNewServiceModal()"></button>
            </nav>

            <br/>

            <!-- CATEGORIES LIST START -->
            <div class="row container-fluid ng-animate" data-anim-type="fade-in-up">
                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="panel-group" id="category_list" ng-repeat="category in categories">
                        <div class="panel panel-default" id="{{category._id}}" data-toggle="collapse"
                             data-parent="#category_list">
                            <div class="panel-heading"><h2 class="text-center" ng-bind="category.name"></h2></div>
                            <!--.panel_heading-->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-4 col-sm-12 col-xs-12">
                                        <h3 class="text-center">Services</h3>
                                        <hr/>
                                        <div class="row list-group" ng-repeat="service in category.services">
                                            <div class="col list-group-item">
                                                <a type="button" class="btn btn-success"
                                                   ng-click="AddToCart(service._id)" title="Add To Cart">
                                                    <i class="fa  fa-align-center fa-cart-plus"></i></a>
                                                <strong> ${{service.price}}</strong>:
                                                <a id="serviceName"
                                                   ng-click="openDisplayServiceModal(service._id)"
                                                   ng-bind="service.name"></a>

                                                <div class="btn-group pull-right" ng-show="admin">
                                                    <a id="editServiceButton" type="button"
                                                       class="btn btn- btn-warning"
                                                       ng-click="openEditServiceModal(service._id)">
                                                        <i class="fa fa-align-center fa-edit"></i></a>
                                                    <a id="deleteServiceButton" type="button"
                                                       class="btn btn-danger"
                                                       ng-click="openDeleteServiceModal(service._id)">
                                                        <i class="fa fa-trash-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Services-->
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <h3 class="text-center">Description</h3>
                                        <hr/>
                                        <p ng-show="category.description" ng-bind="category.description"></p>

                                        <p ng-hide="category.description">There is no description for this category.</p>
                                    </div>
                                    <!--Descriptions-->
                                </div>
                            </div>
                            <!--.panel-body-->
                            <div class="panel-footer" href="#page-top"></div>
                            <!--.panel-footer-->
                        </div>
                        <!--.panel-->
                    </div>
                    <!--.panel-group .container-fluid-->
                </div>
                <!--.row-->
            </div>
        </div>
    </div>
</section>

<div class="modal">
    <script type="text/ng-template" id="createServiceModal.html">
        <div class="modal-header heading modal-color">
            <h3 class="modal-title modal-text">Create a New Service</h3>
        </div>
        <div class="modal-body modal-color" ng-show="stage === 0">
            <div class="row form-group">
                <div class="col">
                    <label for="newServiceName">Service Name: </label>
                    <input class="form-control" id="newServiceName" type="text" ng-model="newService.name"/><br/>
                </div>
                <div class="col">
                    <label for="newServiceCategory">Service Category: </label>
                    <!--<input class="form-control" id="newServiceCategory" type="text" ng-model="newService.category"/>-->
                    <select class="form-control"name="categorySelect" id="newServiceCategory" ng-model="newService.category"
                            ng-options="category.name for category in categories track by category._id">
                    </select><br>
                </div>
                <div class="col">
                    <label for="newServicePrice">Service Price: </label>
                    <input class="form-control" id="newServicePrice" type="number" ng-model="newService.price"/><br/>
                </div>
                <div class="col">
                    <label for="newServiceDescription">Service Description: </label>
                    <input class="form-control" id="newServiceDescription" type="text" ng-model="newService.description"/><br/>
                </div>
                <div class="col">
                    <label for="newServiceDuration">Service Duration: </label>
                    <input class="form-control" id="newServiceDuration" type="number" ng-model="newService.duration"/><br/>
                </div>
                <div class="col">
                    <label for="newServiceImage">Service Image: </label>
                    <div id="newServiceImage" class="form-control btn btn-primary" ngf-select="print($file)"
                         ng-model="newService.image" name="file" ngf-pattern="'image/*'"
                         accept="image/*" ngf-max-size="20MB" ngf-min-height="250">Select Image
                    </div>
                    <div ng-show="newService.image">
                        <hr/><img class="img-responsive" ngf-thumbnail="newService.image">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body modal-color" ng-show="stage === 1">
            <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}}
                <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 2">
            <label>Results:</label><br>

            <p ng-bind="results"></p>
        </div>
        <div class="modal-footer">
            <a id="CloseButton" class="btn btn-danger" type="button" ng-show="stage == 2" ng-click="cancel()">
                Close
            </a>
            <a id="CreateAnotherServiceButton" class="btn btn-primary" type="button" ng-show="stage == 2"
               ng-click="stage = 0">Create New Service
            </a>

            <a id="CancelButton" class="btn btn-danger" type="button" ng-show="stage == 0" ng-click="cancel()">
                Cancel
            </a>
            <a id="SubmitButton" class="btn btn-primary" type="button" ng-show="stage == 0"
               ng-click="submitService()">Create Service
            </a>
        </div>
    </script>
</div>

<div class="modal">
    <script type="text/ng-template" id="displayServiceModal.html">
        <div class="modal-header heading modal-color">
            <h3 class="modal-title modal-text" id="displayModalHeader">Display Service</h3>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 1">
            <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}}
                <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 2">
            <div class="row form-group">
                <div class="col">
                    <label for="currentServiceName">Service Name: </label>

                    <p id="currentServiceName" ng-bind="currentService.name"></p><br/>
                </div>
                <div class="col">
                    <label for="currentServiceCategory">Service Category: </label>

                    <p id="currentServiceCategory" ng-bind="currentService.category"></p><br/>
                </div>
                <div class="col">
                    <label for="currentServicePrice">Service Price: </label>

                    <p id="currentServicePrice" ng-bind="currentService.price"></p><br/>
                </div>
                <div class="col">
                    <label for="currentServiceDescription">Service Description: </label>

                    <p id="currentServiceDescription" ng-bind="currentService.description"></p><br/>
                </div>
                <div class="col">
                    <label for="currentServiceDuration">Service Duration: </label>

                    <p id="currentServiceDuration" ng-bind="currentService.duration"></p><br/>
                </div>
                <div class="col">
                    <label for="currentServiceImage">Service Image: </label>
                    <div id="currentServiceImage" ng-show="currentService.image">
                        <hr/><img class="img-responsive" ngf-thumbnail="currentService.image">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a id="displayCancelButton" class="btn btn-danger" type="button" ng-click="cancel()">Cancel</a>
        </div>
    </script>
</div>

<div class="modal">
    <script type="text/ng-template" id="editServiceModal.html">
        <div class="modal-header heading modal-color">
            <h3 class="modal-title modal-text" id="editModalHeader">Edit Service</h3>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 0">
            <div class="row form-group">
                <div class="col">
                    <label for="editServiceName">Service Name: </label>
                    <input class="form-control" id="editServiceName" type="text" ng-model="editService.name"/><br/>
                </div>
                <div class="col">
                    <label for="editServiceCategory">Service Category: </label>
                    <!--<input class="form-control" id="editServiceCategory" type="text" ng-model="editService.category"/>-->
                    <select class="form-control" name="categorySelect" id="editServiceCategory" ng-model="editService.category"
                            ng-options="category.name for category in categories track by category._id">
                    </select><br/>
                </div>
                <div class="col">
                    <label for="editServicePrice">Service Price: </label>
                    <input class="form-control" id="editServicePrice" type="number" ng-model="editService.price"/><br/>
                </div>
                <div class="col">
                    <label for="editServiceDescription">Service Description: </label>
                    <input class="form-control" id="editServiceDescription" type="text" ng-model="editService.description"/><br/>
                </div>
                <div class="col">
                    <label for="editServiceDuration">Service Duration: </label>
                    <input class="form-control" id="editServiceDuration" type="number" ng-model="editService.duration"/><br/>
                </div>
                <div class="col">
                    <label for="editServiceImage">Service Image: </label>
                    <div id="editServiceImage" class="form-control btn btn-primary" ngf-select="print($file)"
                         ng-model="editService.image" name="file" ngf-pattern="'image/*'"
                         accept="image/*" ngf-max-size="20MB" ngf-min-height="250">Select Image
                    </div>
                    <div ng-show="editService.image">
                        <hr/><img class="img-responsive" ngf-thumbnail="editService.image">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 1">
            <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}}
                <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 2">
            <label>Results:</label><br>

            <p ng-bind="results"></p>
        </div>
        <div class="modal-footer">
            <a id="editCloseButton" class="btn btn-danger" type="button" ng-show="stage == 2" ng-click="cancel()">
                Close</a>
            <a id="editCancelButton" class="btn btn-danger" type="button" ng-show="stage == 0" ng-click="cancel()">
                Cancel</a>
            <a id="editSubmitButton" class="btn btn-primary" type="button" ng-show="stage == 0"
               ng-click="submitEditService()">Edit Service</a>
        </div>
    </script>
</div>

<div class="modal">
    <script type="text/ng-template" id="deleteServiceModal.html">
        <div class="modal-header heading modal-color">
            <h3 class="modal-title modal-text" id="deleteModalHeader">Delete Service</h3>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 0">
            <div class="row form-group">
                <div class="col">
                    <label for="deleteServiceName">Service Name: </label>

                    <p id="deleteServiceName" ng-bind="deleteService.name"></p><br/>
                </div>
                <div class="col">
                    <label for="deleteServiceCategory">Service Category: </label>

                    <p id="deleteServiceCategory" ng-bind="deleteService.category"></p><br/>
                </div>
                <div class="col">
                    <label for="deleteServicePrice">Service Price: </label>

                    <p id="deleteServicePrice" ng-bind="deleteService.price"></p><br/>
                </div>
                <div class="col">
                    <label for="deleteServiceDescription">Service Description: </label>

                    <p id="deleteServiceDescription" ng-bind="deleteService.description"></p><br/>
                </div>
                <div class="col">
                    <label for="deleteServiceDuration">Service Duration: </label>

                    <p id="deleteServiceDuration" ng-bind="deleteService.duration"></p><br/>
                </div>
                <div class="col">
                    <label for="deleteServiceImage">Service Image: </label>
                    <div id="deleteServiceImage" ng-show="deleteService.image">
                        <hr/><img class="img-responsive" ngf-thumbnail="deleteService.image">
                    </div>
                </div>
                <div class="col">
                    <p>Are you sure you want to delete?</p>
                </div>

            </div>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 1">
            <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}}
                <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>
        </div>
        <div class="modal-body modal-color" ng-show="stage == 2">
            <label>Results:</label><br>

            <p ng-bind="results"></p>
        </div>
        <div class="modal-footer">
            <a id="deleteCloseButton" class="btn btn-danger" type="button" ng-show="stage == 2"
               ng-click="cancel()">Close</a>
            <a id="deleteCancelButton" class="btn btn-danger" type="button" ng-show="stage == 0"
               ng-click="cancel()">Cancel</a>
            <a id="deleteSubmitButton" class="btn btn-warning" type="button" ng-show="stage == 0"
               ng-click="deleteSubmitService()">Delete Service</a>
        </div>
    </script>
</div>
